body, html{
	
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	display: block;
	overflow: scroll;
}

#mainWrapper{
	height:100%;
	width:100%;
	position:absolute;
	margin: 0;
	background-color: #222222;
}

#playBox{
	overflow:hidden;
	position:absolute;
	top:50px;
	left:50px;
	height:550px;
	width:1200px;
	background-color: #fff;
}
